name: Synapse Workspace

on:
      workflow_dispatch:

jobs:
  synapse_deployment: 
    name: Synapse Deployment
    runs-on: windows-latest
    steps:
      - name: Checkout workspace_publish repository
        uses: actions/checkout@v2
        with:
          ref:
            workspace_publish
            
      - name: Synapse workspace deployment
        uses: Azure/Synapse-workspace-deployment@V1.3.0
        with:
    # Provide the Synapse workspace name where you want to deploy the artifacts.
          TargetWorkspaceName: ${{ secrets.SYNAPSE_WORKSPACE }}
    # Specify the path to the workspace artifacts template.
          TemplateFile: ./neutstsynp/TemplateForWorkspace.json
    # Specify the path to the template parameter file.
          ParametersFile: ./neutstsynp/TemplateParametersForWorkspace.json
    # Specify deployment parameter values.
          OverrideArmParameters: parameters.yml
    # Provide the type of cloud environment. Valid values are: Azure Public, Azure China, Azure US Government, Azure Germany
          Environment: Azure Public
    # Provide the resource group of the target Synapse workspace.
          resourceGroup: ${{ secrets.RG_NAME }}
    # Provide client id of service principal.
          clientId: ${{ secrets.SP_CLIENT_ID }}
    # Provide client secret of the service principal.
          clientSecret: ${{ secrets.SP_SECRET_PASS }}
    # Provide subscription id.
          subscriptionId: ${{ secrets.RG_SUBSCRIPTION_ID }} 
    # Provide tenant id.
          tenantId: ${{ secrets.SP_TENANT_ID }}